h1{
    background-color: rgb(68, 20, 158);
    border: 2px solid black;
    color: yellow;
}
p1{
    color: rgb(216, 142, 13);
    font-size: 200%;

}
h1:hover{
    background-color: rgb(44, 13, 216);
    color: black;
}
.jibustyles{
    font-family: cursive;
    color:rgb(31, 243, 12);
}
h3{
    color: gold;
    font-size: 200%;
}
html{
    background-color: rgb(88, 109, 156);
}
h3{
    background-color: darkgreen;
}